{% extends 'base.html' %}

{% block body %}


<title>Office Employee Management System!</title>
</head>
<body>
<div class="container text-center my-3"">
        <h1 >Office Employee Management System!</h1>
    <hr>
    <a class="btn btn-primary" href="/all_emp" role="button">View All Employee</a>
    <a class="btn btn-primary" href="/add_emp" role="button">Add An Employee</a>
    <a class="btn btn-primary" href="/remove_emp" role="button">Remove An Employee</a>
    <a class="btn btn-primary" href="/filter_emp" role="button">Filter Employee Details</a>


</div>
{% endblock body %}