{% extends 'base.html' %}

{% block body %}

<div class="container">
    <h1 class = "text-center my-3">Remove An Employee!</h1>
    <hr>

    {% for msg in messages%}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Hey,</strong> {{msg}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {%endfor%}



    <div class="dropdown text-center my-3">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Remove An Employee
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {%for emp in emps%}
          <a class="dropdown-item" href="remove_emp{{emp.id}}">{{emp.first_name}} {{emp.last_name}}</a>
        {% endfor %}
        </div>
      </div>
</div>


{% endblock body %}